/*
 _____/\\\\\\\\\_____/\\\\\\\\\\\\\\\__/\\\\\_____/\\\__/\\\\\\\\\\\\\_______/\\\\\\\\\\\\_______/\\\\\______        
  ___/\\\\\\\\\\\\\__\///////\\\/////__\/\\\\\\___\/\\\_\/\\\/////////\\\___/\\\//////////______/\\\///\\\____       
   __/\\\/////////\\\_______\/\\\_______\/\\\/\\\__\/\\\_\/\\\_______\/\\\__/\\\_______________/\\\/__\///\\\__      
    _\/\\\_______\/\\\_______\/\\\_______\/\\\//\\\_\/\\\_\/\\\\\\\\\\\\\/__\/\\\____/\\\\\\\__/\\\______\//\\\_     
     _\/\\\\\\\\\\\\\\\_______\/\\\_______\/\\\\//\\\\/\\\_\/\\\/////////____\/\\\___\/////\\\_\/\\\_______\/\\\_    
      _\/\\\/////////\\\_______\/\\\_______\/\\\_\//\\\/\\\_\/\\\_____________\/\\\_______\/\\\_\//\\\______/\\\__   
       _\/\\\_______\/\\\_______\/\\\_______\/\\\__\//\\\\\\_\/\\\_____________\/\\\_______\/\\\__\///\\\__/\\\____  
        _\/\\\_______\/\\\_______\/\\\_______\/\\\___\//\\\\\_\/\\\_____________\//\\\\\\\\\\\\/_____\///\\\\\/_____ 
         _\///________\///________\///________\///_____\/////__\///_______________\////////////_________\/////_______
*/
/* 
    Created on : 1-Sep-2017, 10:02:45 AM
    Author     : etienne
*/

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

$font-family-default: 'Open Sans', sans-serif;

// Variables
@import "photon-0.1.2-alpha/_variables.scss";

// Mixins
@import "photon-0.1.2-alpha/_mixins.scss";

// Normalize, Base, & Utilities CSS
@import "photon-0.1.2-alpha/_normalize.scss";
@import "photon-0.1.2-alpha/_base.scss";
@import "photon-0.1.2-alpha/_utilities.scss";

// Components
@import "photon-0.1.2-alpha/_buttons.scss";
@import "photon-0.1.2-alpha/_button-groups.scss";
@import "photon-0.1.2-alpha/_bars.scss";
@import "photon-0.1.2-alpha/_forms.scss";
@import "photon-0.1.2-alpha/_grid.scss";
@import "photon-0.1.2-alpha/_images.scss";
@import "photon-0.1.2-alpha/_lists.scss";
@import "photon-0.1.2-alpha/_navs.scss";
@import "photon-0.1.2-alpha/_icons.scss";
@import "photon-0.1.2-alpha/_tables.scss";
@import "photon-0.1.2-alpha/_tabs.scss";


.nav-group-title,.nav-group-item {
    & > .more {
        opacity: 0;
        transition: opacity .1s linear;
        cursor: pointer;
        font-size: 12px;
        padding: {
            left: 4px;
            right: 4px;
        }
        border-radius: 3px;
        &:hover {
            background-color: rgba(0,0,0,.08);
        }
    }
    &:hover {
        & > .more {
            opacity: 1;
        }
    }
}

.nav-group-title,.nav-group-item {
    & > .more {
        margin-top: 3px;
    }
}


#editor-container {
    display: flex;
    height: calc(100% - 30px);
    & > div {
        width: 50%;
        &.preview-container {
            overflow: auto;
        }
    }
}
