<form>
    <h3>Custom Fonts to include</h3>
    <div class="row">
        <div class="col-6">
            <h5>Sans Serif</h5>
            <div class="checkbox ff-montserrat">
                <label>
                    <input type="checkbox"> Montserrat
                </label>
            </div>
            <div class="checkbox ff-open-sans">
                <label>
                    <input type="checkbox"> Open Sans
                </label>
            </div>
            <div class="checkbox ff-quicksand">
                <label>
                    <input type="checkbox"> Quicksand
                </label>
            </div>
            <div class="checkbox ff-raleway">
                <label>
                    <input type="checkbox"> Raleway
                </label>
            </div>
            <div class="checkbox ff-roboto">
                <label>
                    <input type="checkbox"> Roboto
                </label>
            </div>
        </div>
        <div class="col-6">
            <h5>Serif</h5>
            <div class="checkbox ff-abril-fatface">
                <label>
                    <input type="checkbox"> Abril Fatface
                </label>
            </div>
            <div class="checkbox ff-alfa-slab">
                <label>
                    <input type="checkbox"> Alfa Slab
                </label>
            </div>
            <div class="checkbox ff-droid-serif">
                <label>
                    <input type="checkbox"> Droid Serif
                </label>
            </div>
            <div class="checkbox ff-libre-baskerville">
                <label>
                    <input type="checkbox"> Libre Baskerville
                </label>
            </div>
            <div class="checkbox ff-playfair-display">
                <label>
                    <input type="checkbox"> Playfair Display
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h5>Comic</h5>
            <div class="checkbox ff-comic-relief">
                <label>
                    <input type="checkbox"> Comic Relief
                </label>
            </div>
            <div class="checkbox ff-delius-swash-caps">
                <label>
                    <input type="checkbox"> Delius Swash Caps
                </label>
            </div>
            <div class="checkbox ff-kalam">
                <label>
                    <input type="checkbox"> Kalam
                </label>
            </div>
        </div>
        <div class="col-6">
            <h5>Typewriter</h5>
            <div class="checkbox ff-1942-report">
                <label>
                    <input type="checkbox"> 1942 Report
                </label>
            </div>
            <div class="checkbox ff-special-elite">
                <label>
                    <input type="checkbox"> Special Elite
                </label>
            </div>
            <div class="checkbox ff-underwood-champion">
                <label>
                    <input type="checkbox"> Underwood Champion
                </label>
            </div>
        </div>
    </div>



</form>