<div class="modal" {{#each data}} data-{{k}}="{{v}}"{{/each}}>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="toolbar toolbar-header">
                <h1 class="title">{{title}}</h1>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span class="icon icon-cancel"></span>
                </button>
            </header>
            <div class="modal-body">
                
            </div>
            <footer class="toolbar toolbar-footer">
                <div class="toolbar-actions">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{#if save}}
                    <button class="btn btn-primary pull-right">Save</button>
                    {{/if}}
                </div>
            </footer>
        </div>
    </div>
</div>